.register {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}

.registerForm {
    max-width: 300px;
    margin: 40px auto 0;
}

.registerButton {
    margin: 30px 0;
}

.formGroup {
    margin: 20px 0;
}